body {
  overflow: hidden;
}

.page-container {
  display: grid;
  place-items: center;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.navbar {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  width: 1200px;
  border: 1px solid #c0c4cc;
  opacity: 0.5;
  margin-top: 20px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
}

@media (max-width: 1600px) {
  .navbar, hr, .grid-container {
    width: 1000px;
  }
}

@media (max-width: 1300px) {
  .navbar, hr, .grid-container {
    width: 800px;
  }
}

@media (max-width: 900px) {
  .navbar, hr, .grid-container {
    width: 375px;
  }
}

@media (max-width: 500px) {
  .navbar, hr, .grid-container {
    width: 300px;
  }

  .searchbar {
    width: 100px;
  }
  
  input {
    font-size: 7px;
  }
}